<%= devise_error_messages! %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :class => "form-signin"}) do |f| %>
  <h2 class="form-signin-heading">Edit profile</h2>
  <%= f.email_field :email, :required => true, :class => 'form-control', :placeholder => 'Email Address' %>
  <%= f.password_field :password, :class => 'form-control signform-middle', :placeholder => 'New Password', :required => true %>
  <%= f.password_field :password_confirmation, :class => 'form-control signform-bottom', :placeholder => 'Confirm new password', :required => true %>
  <%= f.password_field :current_password, :class => 'form-control signform-alone', :placeholder => 'Current password', :required => true %>
  <%= f.submit "Update", :class => 'btn btn-lg btn-primary btn-block' %>
  <hr>

  <button class="btn btn-danger btn-xs" data-toggle="modal" data-target=".modal-delete">Cancel my account</button>

  <div class="modal fade modal-delete" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	    	<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Cancel account</h4>
	      </div>
	      <div class="modal-body">
		      <p>Cancelling your account will result in all your calculations deleted. Are you sure?</p>
		      <%= link_to "Sure, do it.", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn-sm btn btn-danger'%>
	      </div>
	    </div>
	  </div>
	</div>
<% end %>