<%= devise_error_messages! %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-signin"}) do |f| %>
  <h2 class="form-signin-heading">Sign up</h2>
  <%= f.email_field :email, :autofocus => true, :required => true, :class => 'form-control', :placeholder => 'Email Address' %>
  <%= f.password_field :password, :class => 'form-control signform-middle', :placeholder => 'Password', :required => true %>
  <%= f.password_field :password_confirmation, :class => 'form-control signform-bottom', :placeholder => 'Confirm password', :required => true %>
  <%= f.submit "Sign up", :class => 'btn btn-lg btn-primary btn-block' %>
<% end %>