<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:class => "form-signin", :method => :post}) do |f| %>
	<%= devise_error_messages! %>
  <h2 class="form-signin-heading">Forgot your password?</h2>
  <%= f.email_field :email, :autofocus => true, :required => true, :class => 'form-control signform-alone signform-margin', :placeholder => 'Email Address' %>
  <%= f.submit "Reset", :class => 'btn btn-lg btn-primary btn-block' %>
  <hr>
	<%= render "devise/shared/links" %>
<% end %>
