.row
	.col-sm-12
		%h2.text-center Hi There!
	.col-sm-4.col-sm-offset-2
		%h3 About Me
		%hr
		%p.text-center= image_tag 'pic.jpg', :class => 'img-circle', :width => '157px'
		%p.l I am a passionate web application and front-end developer in Jakarta. I have experience in HTML, CSS, JavaScript, and I make apps on Laravel and Ruby on Rails frameworks.
		%p.l I also work at <a href="http://forest-carbon.org">Forest Carbon</a> as IT and GIS/RS Specialist in forestry sector. I do imagery and other spatial data analysis, and conduct GIS trainings.
		%p
			= link_to 'Website', 'http://mahardhitama.com', :class => 'btn btn-primary btn-xs'
			= link_to 'LinkedIn', 'http://id.linkedin.com/in/prasetyams', :class => 'btn btn-primary btn-xs'
			= link_to 'Facebook', 'http://facebook.com/prsty', :class => 'btn btn-primary btn-xs'
	.col-sm-4
		%h3 About This App
		%hr
		%p.text-center= image_tag 'vine.jpg', :class => 'img-circle', :width => '157px'
		%p.l This app is made as a college assignment. This subject is selected as a helpful tool for project developers and funding committees in preparing or auditing AFOLU projects. This tool is an improvement to previous tool that was made with Microsoft Excel. This tool is far from perfect, and there are some UX bugs that need to be fixed in future releases.