.jumbotron
	%h1 Welcome
	%p This tool provides the procedures for conducting the non-permanence risk analysis and buffer determination required for Agriculture Forestry and Other Land Use (AFOLU) projects. The tool sets out the requirements for project proponents, implementing partners and validation/verification bodies to assess risk and determine the appropriate risk rating.
	%p
		%a{:href => "http://www.v-c-s.org/program-documents/afolu-non-permanence-risk-tool-v32", :class => 'btn btn-success'} VCS Website
		- if user_signed_in?
			= link_to "New Risk Calc", new_user_risk_path(:user_id => current_user.id), :class => 'btn btn-primary'
		- else
			= link_to "Get Started", new_user_session_path, :class => 'btn btn-primary'