%table.table.table-bordered
	%tr
		%th{:colspan => "12"} Weather Risks
	%tr.tra
		%td{:rowspan => "3"} Significance
		%td{:colspan => "11"} Likelihood
	%tr.trb
		%td{:colspan => "2"} Less than every 10 years
		%td{:colspan => "2"} Every 10 to less than 25 years
		%td{:colspan => "2"} Every 25 to less than 50 years
		%td{:colspan => "2"} Every 50 to less than 100 years
		%td{:colspan => "2"} Once Every 100 years or more, or risk is not applicable to the project area
		%td
	%tr.trc
		%td Metric
		%td Project Score
		%td Metric
		%td Project Score
		%td Metric
		%td Project Score
		%td Metric
		%td Project Score
		%td Metric
		%td Project Score
		%td Total Project Score
	%tr
		%td.l Catastrophic (70% or more loss of carbon stocks)
		%td FAIL
		%td
			= f.text_field(:table10_nr_part1_w_aa, :type => 'number')
		%td 30
		%td
			= f.text_field(:table10_nr_part1_w_ab, :type => 'number')
		%td 20
		%td
			= f.text_field(:table10_nr_part1_w_ac, :type => 'number')
		%td 5
		%td
			= f.text_field(:table10_nr_part1_w_ad, :type => 'number')
		%td 0
		%td
			= f.text_field(:table10_nr_part1_w_ae, :type => 'number')
		%td
			= f.text_field(:table10_nr_part1_w_row_a_total, :type => 'number')
	%tr
		%td.l Devastating (50% to less than 70% loss of carbon stocks)
		%td 30
		%td
			= f.text_field(:table10_nr_part1_w_ba, :type => 'number')
		%td 20
		%td
			= f.text_field(:table10_nr_part1_w_bb, :type => 'number')
		%td 5
		%td
			= f.text_field(:table10_nr_part1_w_bc, :type => 'number')
		%td 2
		%td
			= f.text_field(:table10_nr_part1_w_bd, :type => 'number')
		%td 0
		%td
			= f.text_field(:table10_nr_part1_w_be, :type => 'number')
		%td
			= f.text_field(:table10_nr_part1_w_row_b_total, :type => 'number')
	%tr
		%td.l Major (25% to less than 50% loss of carbons stocks)
		%td 20
		%td
			= f.text_field(:table10_nr_part1_w_ca, :type => 'number')
		%td 5
		%td
			= f.text_field(:table10_nr_part1_w_cb, :type => 'number')
		%td 2
		%td
			= f.text_field(:table10_nr_part1_w_cc, :type => 'number')
		%td 1
		%td
			= f.text_field(:table10_nr_part1_w_cd, :type => 'number')
		%td 0
		%td
			= f.text_field(:table10_nr_part1_w_ce, :type => 'number')
		%td
			= f.text_field(:table10_nr_part1_w_row_c_total, :type => 'number')
	%tr
		%td.l Minor (5% to less than 25% loss of carbon stocks)
		%td 5
		%td
			= f.text_field(:table10_nr_part1_w_da, :type => 'number')
		%td 2
		%td
			= f.text_field(:table10_nr_part1_w_db, :type => 'number')
		%td 1
		%td
			= f.text_field(:table10_nr_part1_w_dc, :type => 'number')
		%td 1
		%td
			= f.text_field(:table10_nr_part1_w_dd, :type => 'number')
		%td 0
		%td
			= f.text_field(:table10_nr_part1_w_de, :type => 'number')
		%td
			= f.text_field(:table10_nr_part1_w_row_d_total, :type => 'number')
	%tr
		%td.l Insignificant (less than 5% of carbon stocks) or transient (full recovery of lost carbon stocks expected within 10 years of any event)
		%td 2
		%td
			= f.text_field(:table10_nr_part1_w_ea, :type => 'number')
		%td 1
		%td
			= f.text_field(:table10_nr_part1_w_eb, :type => 'number')
		%td 1
		%td
			= f.text_field(:table10_nr_part1_w_ec, :type => 'number')
		%td 0
		%td
			= f.text_field(:table10_nr_part1_w_ed, :type => 'number')
		%td 0
		%td
			= f.text_field(:table10_nr_part1_w_ee, :type => 'number')
		%td
			= f.text_field(:table10_nr_part1_w_row_e_total, :type => 'number')
	%tr
		%td.l No Loss
		%td 0
		%td
			= f.text_field(:table10_nr_part1_w_fa, :type => 'number')
		%td 0
		%td
			= f.text_field(:table10_nr_part1_w_fb, :type => 'number')
		%td 0
		%td
			= f.text_field(:table10_nr_part1_w_fc, :type => 'number')
		%td 0
		%td
			= f.text_field(:table10_nr_part1_w_fd, :type => 'number')
		%td 0
		%td
			= f.text_field(:table10_nr_part1_w_fe, :type => 'number')
		%td
			= f.text_field(:table10_nr_part1_w_row_f_total, :type => 'number')
	%tr
		%td.l Likelihood and Significance Score
		%td
		%td
			= f.text_field(:table10_nr_part1_w_col_a_total, :type => 'number')
		%td
		%td
			= f.text_field(:table10_nr_part1_w_col_b_total, :type => 'number')
		%td
		%td
			= f.text_field(:table10_nr_part1_w_col_c_total, :type => 'number')
		%td
		%td
			= f.text_field(:table10_nr_part1_w_col_d_total, :type => 'number')
		%td
		%td
			= f.text_field(:table10_nr_part1_w_col_e_total, :type => 'number')
		%td
			= f.text_field(:table10_nr_part1_w_col_f_total, :type => 'number')