<% if notice %>
  <div class="alert alert-warning">
    <p class="alert alert-notice"><%= notice %></p>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger">
    <p class="alert alert-error"><%= alert %></p>
  </div>
<% end %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-signin"}) do |f| %>
  <h2 class="form-signin-heading">Please sign in</h2>
  <%= f.email_field :email, :autofocus => true, :required => true, :class => 'form-control', :placeholder => 'Email Address' %>
  <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password', :required => true %>
  <% if devise_mapping.rememberable? -%>
	  <label class="checkbox">
	    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
	  </label>
  <% end -%>
  <%= f.submit "Sign in", :class => 'btn btn-lg btn-primary btn-block' %>
  <hr>
  <%= render "devise/shared/links" %>
<% end %>