.row
	.col-sm-12
		.panel.panel-default
			.panel-heading Project Information
			.panel-body
				.row
					.col-sm-6
						.form-group
							%label{:for => "exampleInputEmail1"} Client
							= f.text_field(:client, :class => 'form-control', :placeholder => 'Enter client name')
					.col-sm-6
						.form-group
							%label{:for => "exampleInputPassword1"} Project Name
							= f.text_field(:project, :class => 'form-control', :placeholder => 'Enter project name')

.row
	.col-sm-12
		.panel.panel-default
			.panel-heading Risk Assessment Forms
			.panel-body
				/ %ul.nav.nav-pills
				/ 	%li.active
				/ 		%a{"data-toggle" => "pill", :href => "#table1"} Project Management
				/ 	%li
				/ 		%a{"data-toggle" => "pill", :href => "#table2"} Financial Viability
				/ 	%li
				/ 		%a{"data-toggle" => "pill", :href => "#table3"} Opportunity Cost
				/ 	%li
				/ 		%a{"data-toggle" => "pill", :href => "#table4"} Project Longevity
				/ 	%li
				/ 		%a{"data-toggle" => "pill", :href => "#table6"} Land Tenure
				/ 	%li
				/ 		%a{"data-toggle" => "pill", :href => "#table7"} Community Engagement
				/ 	%li
				/ 		%a{"data-toggle" => "pill", :href => "#table8"} Political Risk
				/ 	%li
				/ 		%a{"data-toggle" => "pill", :href => "#table10"} Natural Risks

				/ .tab-content
				%h3 Table 1 - Project Management
				%hr
				#table1= render :partial => 'table1', :locals => {:f => f}
				%h3 Table 2 - Financial Viability
				%hr
				#table2= render :partial => 'table2', :locals => {:f => f}
				%h3 Table 3 - Opportunity Cost
				%hr
				#table3= render :partial => 'table3', :locals => {:f => f}
				%h3 Table 4 - Project Longevity
				%hr
				#table4= render :partial => 'table4', :locals => {:f => f}
				%h3 Table 6 - Land Tenure
				%hr
				#table6= render :partial => 'table6', :locals => {:f => f}
				%h3 Table 7 - Community Engagement
				%hr
				#table7= render :partial => 'table7', :locals => {:f => f}
				%h3 Table 8 - Political Risk
				%hr
				#table8= render :partial => 'table8', :locals => {:f => f}
				%h3 Table 10 - Natural Risks
				%hr
				#table10= render :partial => 'table10', :locals => {:f => f}

.row
	.col-sm-12
		.panel.panel-default
			.panel-heading Risk Calculation Result
			.panel-body
				#table11= render :partial => 'table11form', :locals => {:f => f}