%table.table.table-bordered
	%tr
		%th Total Internal Risk
		%th.th1 Project Score
	%tr
		%td.l Total Internal Risk (PM + FV + OC + PL). Total may not be less than zero.
		%td= f.text_field(:t5_total_internal_risk, :readonly => 'readonly', :id => 't5_total_internal_risk', :class => 'result')