%table.table.table-bordered
  %tr
    %th{:colspan => "2"} Opportunity Cost
    %th Metric
    %th.th1 Project Score
  %tr
    %td a
    %td.l NPV from the most profitable alternative land use activity is expected to be at least 100% more than that associated with project activities; or where baseline activities are subsistence driven, net positive community impacts are not demonstrated.
    %td 8
    %td.group1= f.radio_button(:t3a_f, "8")
  %tr
    %td b
    %td.l NPV from the most profitable alternative land use activity is expected to be between 50% and up to 100% mre than from project activities
    %td 6
    %td.group1= f.radio_button(:t3a_f, "6")
  %tr
    %td c
    %td.l NPV from the most profitable alternative land use activity is expected to be between 20% and up to 50% mre than from project activities
    %td 4
    %td.group1= f.radio_button(:t3a_f, "4")
  %tr
    %td d
    %td.l NPV from the most profitable alternative land use activity is expected to be between 20% more than and up to 20% less than from project activities; or where baseline activities are subsistence-driven, net positive community impacts are demonstrated.
    %td 0
    %td.group1= f.radio_button(:t3a_f, "0")
  %tr
    %td e
    %td.l NPV from project activities is expected to be between 20% and up to 50% more profitable than the most profitable alternative land use activity
    %td -2
    %td.group1= f.radio_button(:t3a_f, "-2")
  %tr
    %td f
    %td.l NPV from project activities is expected to be at least 50%,more profitable than the most profitable alternative land use activity.
    %td -4
    %td.group1= f.radio_button(:t3a_f, "-4")
  %tr
    %td g
    %td.l <b>Mitigation</b>: Project proponent is a non-profit organization
    %td -2
    %td.group2= f.radio_button(:t3g_i, "-2.01")
  %tr
    %td h
    %td.l <b>Mitigation</b>: Project is protected by legally binding commitment (see Section 2.2.4) to continue management practices that protect the credited carbon stocks over the length of the project crediting period.
    %td -2
    %td.group2= f.radio_button(:t3g_i, "-2.02")
  %tr
    %td i
    %td.l <b>Mitigation</b>: Project is protected by legally binding commitment (see Section 2.2.4) to continue management practices that protect the credited carbon stocks over at least 100 years.
    %td -8
    %td.group2= f.radio_button(:t3g_i, "-8")
  %tr
    %td.l{:colspan => "3"} Total Opportunity Cost (OC) [as applicable, (a, b, c, d, e or f) + (g or h) + i]. Total may be less than zero.
    %td= f.text_field(:t3_oc_total, :readonly => 'readonly', :id => 'table3sum', :class => 'result')