%table.table.table-bordered
  %tr
    %th{:colspan => "2"} Financial Viability
    %th Metric
    %th.th1 Project Score
  %tr
    %td a
    %td.l Project cashflow breakeven point is greater than 10 years from current risk assessment
    %td 3
    %td.group1= f.radio_button(:t2a_d, "3")
  %tr
    %td b
    %td.l Project cashflow breakeven point is between 7 and up to 10 years from current risk assessment
    %td 2
    %td.group1= f.radio_button(:t2a_d, "2")
  %tr
    %td c
    %td.l Project cashflow breakeven point is between 4 and up to 7 years from current risk assessment
    %td 1
    %td.group1= f.radio_button(:t2a_d, "1")
  %tr
    %td d
    %td.l Project cashflow breakeven point is 4 years or less from current risk assessment
    %td 0
    %td.group1= f.radio_button(:t2a_d, "0")
  %tr
    %td e
    %td.l Project has secured less than 15% of funding needed to cover the total cash out before the project reaches breakeven
    %td 3
    %td.group2= f.radio_button(:t2e_h, "3")
  %tr
    %td f
    %td.l Project has secured 15% to less than 40% of funding needed to cover the total cash out before the project reaches breakeven
    %td 2
    %td.group2= f.radio_button(:t2e_h, "2")
  %tr
    %td g
    %td.l Project has secured 40% to less than 80% of funding needed to cover the total cash out before the project reaches breakeven
    %td 1
    %td.group2= f.radio_button(:t2e_h, "1")
  %tr
    %td h
    %td.l Project has secured 80% or more of funding needed to cover the total cash out before the project reaches breakeven
    %td 0
    %td.group2= f.radio_button(:t2e_h, "0")
  %tr
    %td i
    %td.l <b>Mitigation</b>: Project has available as callable financial resources at least 50% of total cash out before project reaches breakeven.
    %td -2
    %td= f.check_box(:t2i, {}, "-2", "0")
  %tr
    %td.l{:colspan => "3"} Total Financial Viability (FV) [as applicable, ((a,,b, c or d) + (e, f, g or h) + i)]. Total may be less than zero.
    %td= f.text_field(:t2_fv_total, :readonly => 'readonly', :id => 'table2sum', :class => 'result')