%table.table.table-bordered
  %tr
    %th{:colspan => "2"} Community Engagement
    %th Metric
    %th.th1 Project Score
  %tr
    %td a
    %td.l Less than 50 percent of households living within the project area who are reliant on the project area, have been consulted
    %td 10
    %td= f.check_box(:t7a, {}, "10.0", "0.0")
  %tr
    %td b
    %td.l Less than 20% percent of households living whithin 20km of the project boundry outside the project area, and who are reliant on the project area, have been consulted.
    %td 5
    %td= f.check_box(:t7b, {}, "5.0", "0.0")
  %tr
    %td c
    %td.l <b>Mitigation</b>: The project generates net positive impacts on the social economic well-being of the local communities who derive livelihoods from the project area
    %td -5
    %td= f.check_box(:t7c, {}, "-5.0", "0.0")
  %tr
    %td.l{:colspan => "3"} Total Community Engagement (CE) [where applicable, (a + b + c)]. Total may be less than zero.
    %td= f.text_field(:t7_ce_total, :readonly => 'readonly', :id => 'table7sum', :class => 'result')