%table.table.table-bordered
	%tr
		%th Risk Category
		%th Maximum Allowable Risk
		%th Project Rating
	%tr
		%td.l Internal Risk (from Table 5)
		%td 35
		%td= f.text_field(:t5_total_internal_risk, :readonly => 'readonly', :class => 'result t5_total_internal_risk')
	%tr
		%td.l External Risk (from Table 9)
		%td 20
		%td= f.text_field(:t9_total_external_risk, :readonly => 'readonly', :class => 'result t9_total_external_risk')
	%tr
		%td.l Natural Risk (from Table 10)
		%td 35
		%td= f.text_field(:t10_total_natural_risk, :readonly => 'readonly', :class => 'result t10_total_natural_risk')
	%tr
		%td.l Overall Risk Rating (a + b + c)
		%td 90
		%td= f.text_field(:overall_risk_rating, :readonly => 'readonly', :class => 'result overall_risk_rating')