%table.table.table-bordered#table10part1
	%tr
		%th{:colspan => "11"} Natural Risk
	%tr.tra
		%td{:rowspan => "3"} <i>Significance</i>
		%td{:colspan => "10"} <i>Likelihood</i>
	%tr.trb
		%td{:colspan => "2"} Less than every 10 years
		%td{:colspan => "2"} Every 10 to less than 25 years
		%td{:colspan => "2"} Every 25 to less than 50 years
		%td{:colspan => "2"} Every 50 to less than 100 years
		%td{:colspan => "2"} Once Every 100 years or more, or risk is not applicable to the project area
	%tr.trc
		%td.th1 Metric
		%td.th1 Project Score
		%td.th1 Metric
		%td.th1 Project Score
		%td.th1 Metric
		%td.th1 Project Score
		%td.th1 Metric
		%td.th1 Project Score
		%td.th1 Metric
		%td.th1 Project Score
	%tr
		%td.l Catastrophic (70% or more loss of carbon stocks)
		%td <b>FAIL</b>
		%td.group1= f.radio_button(:t10la, "99.0")
		%td 30
		%td.group2= f.radio_button(:t10lb, "30.0")
		%td 20
		%td.group3= f.radio_button(:t10lc, "20.0")
		%td 5
		%td.group4= f.radio_button(:t10ld, "5.0")
		%td 0
		%td.group5= f.radio_button(:t10le, "0.06")
	%tr
		%td.l Devastating (50% to less than 70% loss of carbon stocks)
		%td 30
		%td.group1= f.radio_button(:t10la, "30.0")
		%td 20
		%td.group2= f.radio_button(:t10lb, "20.0")
		%td 5
		%td.group3= f.radio_button(:t10lc, "5.0")
		%td 2
		%td.group4= f.radio_button(:t10ld, "2.0")
		%td 0
		%td.group5= f.radio_button(:t10le, "0.05")
	%tr
		%td.l Major (25% to less than 50% loss of carbons stocks)
		%td 20
		%td.group1= f.radio_button(:t10la, "20.0")
		%td 5
		%td.group2= f.radio_button(:t10lb, "5.0")
		%td 2
		%td.group3= f.radio_button(:t10lc, "2.0")
		%td 1
		%td.group4= f.radio_button(:t10ld, "1.0")
		%td 0
		%td.group5= f.radio_button(:t10le, "0.04")
	%tr
		%td.l Minor (5% to less than 25% loss of carbon stocks)
		%td 5
		%td.group1= f.radio_button(:t10la, "5.0")
		%td 2
		%td.group2= f.radio_button(:t10lb, "2.0")
		%td 1
		%td.group3= f.radio_button(:t10lc, "1.0")
		%td 1
		%td.group4= f.radio_button(:t10ld, "1.0")
		%td 0
		%td.group5= f.radio_button(:t10le, "0.03")
	%tr
		%td.l Insignificant (less than 5% of carbon stocks) or transient (full recovery of lost carbon stocks expected within 10 years of any event)
		%td 2
		%td.group1= f.radio_button(:t10la, "2.0")
		%td 1
		%td.group2= f.radio_button(:t10lb, "1.0")
		%td 1
		%td.group3= f.radio_button(:t10lc, "1.0")
		%td 0
		%td.group4= f.radio_button(:t10ld, "0.0")
		%td 0
		%td.group5= f.radio_button(:t10le, "0.02")
	%tr
		%td.l No Loss
		%td 0
		%td.group1= f.radio_button(:t10la, "0.01")
		%td 0
		%td.group2= f.radio_button(:t10lb, "0.01")
		%td 0
		%td.group3= f.radio_button(:t10lc, "0.01")
		%td 0
		%td.group4= f.radio_button(:t10ld, "0.01")
		%td 0
		%td.group5= f.radio_button(:t10le, "0.01")
	%tr
		%td.l{:colspan => "10"} Likelihood and Significance Score
		%td= f.text_field(:t10_nr_part1_total, :readonly => 'readonly', :id => 'table10part1sum', :class => 'result')

%table.table.table-bordered#table10part2
	%tr
		%th Mitigation
		%th.th3 Metric
		%th.th3 Score (F)
		%th.th3 Score (PD)
		%th.th3 Score (W)
		%th.th3 Score (G)
		%th.th3 Score (ON)
	%tr
		%td.l Prevention measures applicable to the risk factor are implemented
		%td 0.5
		%td.group1= f.radio_button(:t10mf, "0.501")
		%td.group2= f.radio_button(:t10mpd, "0.501")
		%td.group3= f.radio_button(:t10mw, "0.501")
		%td.group4= f.radio_button(:t10mg, "0.501")
		%td.group5= f.radio_button(:t10mon, "0.501")
	%tr
		%td.l Project proponent has proven history of effectively containing natural risk
		%td 0.5
		%td.group1= f.radio_button(:t10mf, "0.502")
		%td.group2= f.radio_button(:t10mpd, "0.502")
		%td.group3= f.radio_button(:t10mw, "0.502")
		%td.group4= f.radio_button(:t10mg, "0.502")
		%td.group5= f.radio_button(:t10mon, "0.502")
	%tr
		%td.l Both of the above
		%td 0.25
		%td.group1= f.radio_button(:t10mf, "0.25")
		%td.group2= f.radio_button(:t10mpd, "0.25")
		%td.group3= f.radio_button(:t10mw, "0.25")
		%td.group4= f.radio_button(:t10mg, "0.25")
		%td.group5= f.radio_button(:t10mon, "0.25")
	%tr
		%td.l None of the above
		%td 1
		%td.group1= f.radio_button(:t10mf, "1.0")
		%td.group2= f.radio_button(:t10mpd, "1.0")
		%td.group3= f.radio_button(:t10mw, "1.0")
		%td.group4= f.radio_button(:t10mg, "1.0")
		%td.group5= f.radio_button(:t10mon, "1.0")
	%tr
		%td.l Not applicable
		%td 0
		%td.group1= f.radio_button(:t10mf, "0.0")
		%td.group2= f.radio_button(:t10mpd, "0.0")
		%td.group3= f.radio_button(:t10mw, "0.0")
		%td.group4= f.radio_button(:t10mg, "0.0")
		%td.group5= f.radio_button(:t10mon, "0.0")
	%tr
		%td.l{:colspan => "2"}
			Mitigation Score
			.pull-right
				.btn.btn-xs.btn-primary#table10calculatebutton Calculate
		%td= f.text_field(:t10mf_total, :readonly => 'readonly', :id => 't10mf_total', :class => 'result')
		%td= f.text_field(:t10mpd_total, :readonly => 'readonly', :id => 't10mpd_total', :class => 'result')
		%td= f.text_field(:t10mw_total, :readonly => 'readonly', :id => 't10mw_total', :class => 'result')
		%td= f.text_field(:t10mg_total, :readonly => 'readonly', :id => 't10mg_total', :class => 'result')
		%td= f.text_field(:t10mon_total, :readonly => 'readonly', :id => 't10mon_total', :class => 'result')
	%tr
		%td.l{:colspan => "6"} Total Natural Risk (as applicable, F + PD + W + G + ON)
		%td= f.text_field(:t10_total_natural_risk, :readonly => 'readonly', :class => 'result t10_total_natural_risk')

%ul
	%li <b>F</b> = Fire Risks
	%li <b>PD</b> = Pest and Disease Outbreak Risks
	%li <b>W</b> = Weather Risks
	%li <b>G</b> = Geological Risks
	%li <b>On</b> = Other Natural Risk