%table.table.table-bordered
	%tr
		%th Total External Risk
		%th.th1 Project Score
	%tr
		%td.l Total External Risk (LT + CE + PC). Total may not be less than zero.
		%td= f.text_field(:t9_total_external_risk, :readonly => 'readonly', :id => 't9_total_external_risk', :class => 'result')