%table.table.table-bordered
  %tr
    %th{:colspan => "2"} Political Risk
    %th Metric
    %th.th1 Project Score
  %tr
    %td a
    %td.l Governance Score of less than -0.79
    %td 6
    %td.group1= f.radio_button(:t8a_e, "6")
  %tr
    %td b
    %td.l Governance Score of -0.79 to less than -0.32
    %td 4
    %td.group1= f.radio_button(:t8a_e, "4")
  %tr
    %td c
    %td.l Governance Score of -0.32 to less than 0.19
    %td 2
    %td.group1= f.radio_button(:t8a_e, "2")
  %tr
    %td d
    %td.l Governance Score of 0.19 to less than 0.82
    %td 1
    %td.group1= f.radio_button(:t8a_e, "1")
  %tr
    %td e
    %td.l Governance Score of -0.82 or higher
    %td 0
    %td.group1= f.radio_button(:t8a_e, "0")
  %tr
    %td f
    %td.l <b>Mitigation</b>: Country is implementing REDD+ Readiness or other activities, as set out in this section 2.3.3
    %td -2
    %td= f.check_box(:t8f, {}, "-2", "0")
  %tr
    %td.l{:colspan => "3"} Total Political (PC) [ as applicable ((a,b,c,d or e) + f)]. Total may not be less than zero.
    %td= f.text_field(:t8_pr_total, :readonly => 'readonly', :id => 'table8sum', :class => 'result')