%table.table.table-bordered
  %tr
    %th{:colspan => "2"} Land Tenure
    %th Metric
    %th.th1 Project Score
  %tr
    %td a
    %td.l Ownership and resoruce access/use rights are held by the same entity(s)
    %td 0
    %td.group1= f.radio_button(:t6a_b, "0.0")
  %tr
    %td b
    %td.l Ownership and resource access/use rights are held by different entity(s) (eg, land is government owned and the project proponent holds a lease or concession)
    %td 2
    %td.group1= f.radio_button(:t6a_b, "2.0")
  %tr
    %td c
    %td.l In more than 5% of the project area, there exist disputes over land tenure or ownership.
    %td 10
    %td= f.check_box(:t6c, {}, "10.0", "0.0")
  %tr
    %td d
    %td.l There exist disputes over access/use rights (or overlapping rights)
    %td 5
    %td= f.check_box(:t6d, {}, "5.0", "0.0")
  %tr
    %td e
    %td.l WRC projects unable to demonstrate that potential upstream and sea impacts that could undermine issued credits in the next 10 years are irrelevant or expected to be insignificant, or that there is a plan in place for effectively mitigating such impacts.
    %td 5
    %td= f.check_box(:t6e, {}, "5.0", "0.0")
  %tr
    %td f
    %td.l <b>Mitigation</b>: Project area is protected by legally binding commitment (eg, a concservation easement or protected area) to continue management practices that protect carbon stocks over the length of the project crediting period.
    %td -2
    %td= f.check_box(:t6f, {}, "-2.0", "0.0")
  %tr
    %td g
    %td.l <b>Mitigation</b>: Where disputes over land tenure, ownership or access/use rights exist, documented evidence is provided that projects have implemented activites to resolve the disputes or clarify overlapping claims.
    %td -2
    %td= f.check_box(:t6g, {}, "-2.0", "0.0")
  %tr
    %td.l{:colspan => "3"} Total Land tenure (LT) [as applicable, ((a or b) + c + d + e + f + g)]. Total may not be less than zero.
    %td= f.text_field(:t6_lt_total, :readonly => 'readonly', :id => 'table6sum', :class => 'result')