%table.table.table-bordered
  %tr
    %th{:colspan => "2"} Project Longevity
    %th Formula
    %th.th1 Years
  %tr
    %td.l{:colspan => "3"}
      This project follows the calculation as stated below:
    %td.group1= f.radio_button(:t4except, "0", :id => 'pl-normal')
  %tr
    %td a
    %td.l Without legal agreeement or requirement to continue the management practice.
    %td 24 - (project longevity<b>*</b>/5)
    %td= f.text_field(:t4_pl_a, :type => 'number')
  %tr
    %td b
    %td.l With legal agreeement or requirement to continue the management practice.
    %td 30 - (project longevity<b>*</b>/2)
    %td= f.text_field(:t4_pl_b, :type => 'number')
  %tr
    %td.l{:colspan => "3"}
      This project is with a legally binding agreement that covers at least a 100 year period from the project start date (PL score = Zero)
    %td.group1= f.radio_button(:t4except, "1", :id => 'pl-zero')
  %tr
    %td.l{:colspan => "3"}
      This AFOLU project longevity is less than 30 years, this project fails the risk assessment and is not eligible for crediting (Rating = Fail)
    %td.group1= f.radio_button(:t4except, "2", :id => 'pl-fail')
  %tr
    %td.l{:colspan => "3"}
      Total Project Longevity (PL). May not be less than zero.
      .pull-right
        .btn.btn-xs.btn-primary#table4calculatebutton Calculate
    %td= f.text_field(:t4_pl_value, :readonly => 'readonly', :id => 'table4sum', :class => 'result')

%p <b>*</b>Values are in years.