%table.table.table-bordered
	%tr
		%th Risk Category
		%th Maximum Allowable Risk
		%th Project Rating
	%tr
		%td.l Internal Risk (from Table 5)
		%td 35
		- if r.t5_total_internal_risk > 35
			%td.td-fail= r.t5_total_internal_risk
		- else
			%td.td-success= r.t5_total_internal_risk
	%tr
		%td.l External Risk (from Table 9)
		%td 20
		- if r.t9_total_external_risk > 20
			%td.td-fail= r.t9_total_external_risk
		- else
			%td.td-success= r.t9_total_external_risk
	%tr
		%td.l Natural Risk (from Table 10)
		%td 35
		- if r.t10_total_natural_risk > 35
			%td.td-fail= r.t10_total_natural_risk
		- else
			%td.td-success= r.t10_total_natural_risk
	%tr
		%td.l Overall Risk Rating (a + b + c)
		%td 60
		- if r.overall_risk_rating < 60
			%td.td-success= r.overall_risk_rating
		- else
			%td.td-fail= r.overall_risk_rating