%table.table.table-bordered
  %tr
    %th{:colspan => "2"} Project Management
    %th Metric
    %th.th1 Project Score
  %tr
    %td a
    %td.l Species planted (where applicable) associated with more than 25% of stocks on which GHG credits have previously been issued are not native or proven to be adapted to the same or similar agro-ecological zones (s) in which the project is located.
    %td 2
    %td= f.check_box(:t1a, {}, "2", "0")
  %tr
    %td b
    %td.l Ongoing, enforcement to prevent encroachment by outside actors is required to protect, more than 50% of stocks on which GHG credits have previously been issued.
    %td 2
    %td= f.check_box(:t1b, {}, "2", "0")
  %tr
    %td c
    %td.l Management team does not include individuals with significant experience in all skills necessary to successful undetake all project activities (ie, any area of required experience is not covered by at least one individual with at least 5 years experience in the area.
    %td 2
    %td= f.check_box(:t1c, {}, "2", "0")
  %tr
    %td d
    %td.l Management team does not maintain a presence in the country or is located more than a day of travel from the project site, considering all parcels or polygons in the project area.
    %td 2
    %td= f.check_box(:t1d, {}, "2", "0")
  %tr
    %td e
    %td.l <b>Mitigation</b>: Management team includes individuals with significant experience in AFOLU project design and implementation, carbon acounting and reporting (eg, individuals who have successfully managed projects through validation, verification, and issuance of GHG credits) under the VCS program or other approved GHG programs.
    %td -2
    %td= f.check_box(:t1e, {}, "-2", "0")
  %tr
    %td f
    %td.l <b>Mitigation</b>: Adaptive management plan in place
    %td -2
    %td= f.check_box(:t1f, {}, "-2", "0")
  %tr
    %td.l{:colspan => "3"} Total Project management (PM) [as applicable, (a+b+c+d+e+f)]. Total may be less than zero.
    %td= f.text_field(:t1_pm_total, :readonly => 'readonly', :id => 'table1sum', :class => 'result')