/ - if notice
/ 	.alert.alert-warning.alert-dismissable
/ 		%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
/ 		%strong= notice
- if @risks.exists?
	%h2 All Calculated Risks
	%hr
	%table.table.table-bordered
		%tr
			%th{:width => '20%'} Client
			%th{:width => '25%'} Project
			%th{:width => '15%'} Risk Rating
			%th{:width => '15%'} Status
			%th{:width => '15%'} Actions
		- @risks.each do |r|
			%tr
				%td.l= 	r.client
				%td.l= 	r.project
				%td= 		r.overall_risk_rating
				- if r.overall_risk_rating < 60
					%td.td-success Pass
				- else
					%td.td-fail Fail
				%td
					= link_to "Detail", user_risk_path(current_user.id,r.id), :class => 'btn btn-primary btn-xs'
					= link_to "Edit", edit_user_risk_path(current_user.id,r.id), :class => 'btn btn-success btn-xs'
					= link_to "Delete", user_risk_path(current_user.id,r.id), :class => 'btn btn-danger btn-xs', :method => :delete
- else
	%h2 No Risk Calculations.
	= link_to "Create New Risk Calc", new_risk_path, :class => 'btn btn-primary'