%h2 Calculated Risk Rating
%hr
	-#= render :partial => 'table5', :locals => {:r => @risk}
	-#= render :partial => 'table9', :locals => {:r => @risk}
	= render :partial => 'table11', :locals => {:r => @risk}
	= link_to "Edit", edit_user_risk_path(:user_id => current_user.id), :class => 'btn btn-success'
	= link_to "Delete", risk_path, :class => 'btn btn-danger', :method => :delete