body { font-family: "Source Sans Pro", sans-serif; }
.navbar { margin-top: 2rem; }
.nav-pills, .nav-tabs { margin-bottom: 2rem; }
table th { text-align: center; font-weight: bold; vertical-align: middle; background: #f1f1f1; }
table td { vertical-align: middle; text-align: center;}
table input { width: 5rem; }
.th1 { width: 5rem; }
.th2 { width: 7rem; }
.th3 { width: 7rem; }
.tra td { background: #f3f3f3; }
.trb td { background: #f6f6f6; }
.trc td { background: #f9f9f9; }
.l { text-align: justify; }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.signform-middle { border-radius: 0; }
.signform-bottom { margin-top: -11px;}
.signform-alone { border-radius: 5px !important; }
.signform-margin { margin-bottom: 11px !important; }

.group1 { background: #f3f0fd;}
.group2 { background: #fdf4f0;}
.group3 { background: #fdf5d2;}
.group4 { background: #f4fdf0;}
.group5 { background: #f0fdfb;}

.result { border: none; text-align: center; font-weight: bold; }

.td-success { background: #dff0da; font-weight: bold; color: #5ab868; }
.td-fail { background: #f2dede; font-weight: bold; color: #d95252; }