.navbar.navbar-default{role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "VCS Risk Tool", root_path, :class => 'navbar-brand'
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to "New Risk Calc", new_user_risk_path(:user_id => current_user.id)
          %li
            = link_to "My Risk Calcs", user_risks_path(:user_id => current_user.id)
          %li
            = link_to "About This App", '/about'
          %li
            = link_to 'Edit profile', edit_user_registration_path
          %li
            = link_to "Logout", destroy_user_session_path, :method => :delete
        - else
          %li
            = link_to "Login", new_user_session_path