!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title VCS Risk Tool

    = favicon_link_tag
    = csrf_meta_tags

    -#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "application", media: "all"

  %body
    .container

      = render 'layouts/topnav'

      = yield

      = render 'layouts/footer'

    -#= javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "application"
